# Managed by Ansible
# KEYBOARD CONFIGURATION FILE

# Consult the keyboard(5) manual page.

XKBMODEL="{% locale_keyboard_layout['XKBMODEL'] %}"
XKBLAYOUT="{% locale_keyboard_layout['XKBLAYOUT'] %}"
XKBVARIANT=""
XKBOPTIONS=""

BACKSPACE="guess"
